* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top, #1b1b2f, #0f0f1a);
  overflow: hidden;
}
